<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Appointment</title>
  </head>
  <body>
    <div id='appointments'>
      <form action="updates/{{user.id}}" method="post">
        {% csrf_token %}
        <label>
          Task: <input type="text" name="task" value="">
        </label>
        <select name="STATUS">
          <option value="">DONE</option>
          <option value="">PENDING</option>
          <option value="">MISSED</option>
        </select>

        <label>
          Date: <input type="date" name="dates" value="">
        </label>
        <label>
          Time: <input type="time" name="time" value="">
        </label>
        <label>
          <button type="submit" class="btn btn-primary btn2">Update</button>
        </label>
      </form>
    </div>
  </body>
</html>
